.dashContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
}

.dashSummary{
	width: 55%;
	height: 150px;
	font-size: 48px;
	text-align: center;
	border: 1px solid black;
	padding: 20px 0 40px 0;
}

.dashContent{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 25px 25px 25px 25px;
	border: 1px solid black;
}

.tutVid{
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 460px;
	height: 275px;
	border: 1px solid black;
	
	padding: 0px 0px 0px 0px;
	margin: 20px 20px 22px 20px;
}

.notifBox{
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 460px;
	height: 225px;
	border: 1px solid black;

	padding: 0px 0px 0px 0px;
	margin: 22px 20px 20px 20px;
}

.dailySched{
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 550px;
	height: 525px;
	border: 1px solid black;
	
	padding: 0px 0px 0px 0px;
	margin: 20px 20px 20px 20px;
}