
.infusionTime{
    background-color: #00529b;
    color: white;
    width: 25%;
    font-size: 1rem !important;
    text-align: center;
    line-height: 3.5rem;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-weight: bold !important;
}

.infusionName{
    color: #00529b;
    width: 75%;
    font-size: 1.5rem !important;
    text-align: center;
    line-height: 3.5rem;
}

.scheduleItemDialog{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.infusionTimeDialog{
    background-color: #00529b;
    color: white;
    width: 8rem;
    font-size: 1rem !important;
    text-align: center;
    line-height: 3.5rem;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-weight: bold !important;
}

.infusionNameDialog{
    color: #00529b;
    width: 50vw !important;
    max-width: 420px !important;
    font-size: 1.5rem !important;
    text-align: center;
    line-height: 3.5rem;
    box-Shadow: 0 0 0 1px #00529b;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 98%;
}

.viewTutorial{
    margin-top: 1.5vh !important;
    border-radius: 50px !important;
    background-color: #00529b !important;
    color: white !important;
    text-decoration: none !important;
}