@media screen and (min-width: 16em){
    .toggleBackButton{
        float: left !important;
        margin-left: 20px;
        margin-right: -20px; 
    }

    .arrowButton:hover, .toggleBackButton:hover{
        cursor: pointer;
    }

    .cardRoot{
        display: flex;
        color: white !important;
        height: 216px;
        margin: 33px auto 0 auto;
        border-radius: 20px;
        color: white;
        background-color: #00529b !important;
    }
    
    .cardDetails{
        display: flex;
        flex-direction: column;
    }
    
    .cover{
        width: 150px;
        height: 150px;
        margin: auto 0 auto 31px;
    }
    
    .arrowButton{
        margin: auto 47px auto auto;
        font-size: 40px;
    }

    .desktopInteraction{
        display: none !important;
    }

    .centralContainer{
        margin-top: 5vh !important;
        height: 85vh;
    }
    .noteContainer {
        box-Shadow: 0 0 0 2px #00529b !important;
        height: 55vh !important;
    }

    .infusionContainer{
        height: 42vh !important;
        box-shadow: 0 0 0 2px #00529b !important;
        width: 100% !important;
    }

    .videoContainer{
        height: 33vh !important;
    }

    .videoButtonsContainer{
        display: flex !important;
        flex-direction: row !important;
        width: 100% !important;
        margin-top: -21.5vh;
    }

    .videoButtons{
        width: 70% !important;
        background-color: #00529b !important;
        color: white !important;
        padding: 20px !important;
    }

    .videoAndDesc{
        width: 100% !important;
    }

    .description{
        margin-top: 2vh !important;
        margin-bottom: 3vh !important;
    }

    .infusionTitle{
        background-color: #00529b;
        color: white !important;
        width: 100% !important;
        padding: 10px 0 !important;
    }

    .bottomNav {
        width: 100% !important;
        background-Color: #00529b !important;
        text-align: center !important;
        margin-top: 20.25vh !important;
    }

    .bottomNavItem{
        color: white !important;
        width: 25% !important;
        font-weight: bold !important;
        margin-top: 1.5vh !important;
    }

    .mobileInteraction{
        display: block !important;
    }

    .video{
        width: 100% !important;
        height: 100% !important;
        margin-top: 1vh !important;
    }

    .listItem{
        list-style: none;
        margin: 16px 36px 16px 0;
    }
}

@media screen and (min-width: 40em){

.cardRoot{
    display: flex;
    width: 100%;
    color: white !important;
    height: 216px;
    margin: 33px auto 0 auto;
    border-radius: 20px;
    color: white;
    background-color: #00529b !important;
}

.cardDetails{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.cover{
    width: 150px;
    height: 150px;
    margin: auto 0 auto 31px;
}

.arrowButton{
    margin: auto 47px auto auto;
    font-size: 40px;
}


.desktopInteraction{
    display: block !important; 
}

.mobileInteraction{
    display: none !important;
}

.centralContainer{
    margin-top: 3vh !important;
}
.noteContainer {
    box-Shadow: 0 0 0 2px #00529b !important;
    height: 55vh !important;
}

.infusionContainer{
    height: 42vh !important;
    box-shadow: 0 0 0 2px #00529b !important;
    width: 100% !important;
}

.videoContainer{
    height: 33vh !important;
}

.videoButtonsContainer{
    display: flex !important;
    flex-direction: row !important;
    width: 100% !important;
}

.videoButtons{
    width: 70% !important;
    background-color: #00529b !important;
    color: white !important;
    padding: 20px !important;
}

.videoAndDesc{
    width: 100% !important;
}

.description{
    margin-top: 2vh !important;
    margin-bottom: 3vh !important;
}

.infusionTitle{
    background-color: #00529b;
    color: white !important;
    width: 100% !important;
    padding: 10px 0 !important;
}

.noteTabs{
    background-color: #00529b !important;
    margin: auto !important;
}

.tabsColor{
    background-color: #00529b !important;
}

.buttonContainer{
    display: flex !important;
    flex-direction: row !important;
    margin: auto !important;
}

.desktopButtons{
    color: white !important; 
    background-color: #00529b !important;
    margin: auto !important;
    width: 50% !important;
    padding: 20px !important;
}

}