.break {
  flex-basis: 100%;
  height: 0;
}

.settingsContainer {
  /*border: 5px solid #00529B;*/
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
  justify-content: center;
}

.settingsTitle {
  /*border: 5px solid black;*/
  width: 100%;
  display: flex;
  justify-content: center;
  color: #00529B;
  font-weight: bold;
  font-size: 2em;
  height: 10%;
}

#securityContainer, #aboutUsContainer{
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 90%;
  margin-top: 5px;
}

#aboutUsContainer {
  display: none;
  justify-content: space-around;
}

.titleBar {
  /*border: 5px solid black;*/
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 13%;
}

.securityTitle, .aboutUsTitle{
  /*border: 5px solid black;*/
  border-radius: 25px 25px 0px 0px;
  width: 50%;
  display: flex;
  justify-content: center;
  background-color: #00529B;
  color: #ffffff;
  font-weight: bold;
  font-size: 2em;
}

.passwordContainer {
  border: 20px solid #00529B;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 76%;
}

.password {
  border: 1px solid #00529B;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  color: #00529B;
  padding: 5px;
  margin: 10px 0 10px 0;
  width: 50%;
}

.folderBorder {
  border: 15px solid #00529B;
  width: 100%;
  height: 85%;
}

.whiteBorder {
  border: 10px solid white;
  width: 98%;
  height: 94%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.aboutUsSection {
  border: 2px solid #00529B;
  width: 45%;
  height: 40%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 20px 20px 0px 0px;
  margin-top: 10px;
}

.aboutUsSection2 {
  border: 2px solid #00529B;
  width: 45%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 20px 20px 0px 0px;
  margin-top: 10px;
}

.insideTitle {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  background-color: #00529B;
  font-weight: bold;
  color: white;
  border-radius: 20px 20px 0px 0px;
}

.infoContainer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.infoOutline {
  display: flex;
  width: 80%;
  height: 50%;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #00529B;
  border-radius: 20px;
}

.infoOutline2 {
  display: flex;
  width: 80%;
  height: 25%;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #00529B;
  border-radius: 20px;
}

.informationBox {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #00529B;
}

.informationBox2 {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #00529B;
    font-size: 0.7em;
}

.photoBox {
    border: 1px solid black;
    width: 50%;
    height: 100%;
    margin-right: 20px;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.editContainer {
  width: 20%;
  color: #00529B;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.edit {
  color: #1400FF;
  width: 100%;
  display: flex;
  justify-content: center;
}

.addressStreet, .addressState, .addressCountry {
  display: flex;
  justify-content: center;
  color: #00529B;

}
