.errorContainer{
	display: flex;
	align-items: center;
  justify-content: center;
  height: 100vh;

}

.errorMessage{
  color: #00529B;
  font-weight: bold;
/*width: 55%;
	height: 150px;
	font-size: 48px;
	text-align: center;
	padding: 20px 0 40px 0;*/
}
