.error_Container{
	/*display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid black;*/
}

.errorMessage{
	/*width: 55%;
	height: 150px;
	font-size: 48px;
	text-align: center;
	border: 1px solid black;
	padding: 20px 0 40px 0;*/
}
